@use "./../../../../styles.scss" as *;

@media only screen and (min-width: 600px) {

    .logIn-Section {
        margin: 77px 30px 0 30px;
        gap: 65px;
    }

    .header-desktop {
        display: flex !important;
        justify-content: space-between;
    }

    .logo-container-mobile {
        display: none;
    }

}