@media screen and (max-width: 500px) {
    .profil-title {
        width: calc(308px - 72px);
    }
}

@media screen and (max-width: 375px) {
    .profil-title {
        width: calc(258px - 72px);
    }
}

@media screen and (max-width: 313px) {
    .profil-title {
        width: calc(208px - 72px);
    }

    .profil-image {
        img {
            width: 150px;
        }
    }

    .profil-name {
        .nuito32px700 {
            font-size: 24px !important;
        }
    }

    .profil-email {
        .profil-email-title {
            padding: 0;
            font-size: 16px !important;
        }
    }
}