@use "./../../../styles.scss" as *;
.comp-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: white !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 80px;
  background-color: $Bg;
  button {
    border: 0;
    background-color: transparent;
    height: 62px;
    cursor: pointer;
    padding: 0px;
  }
}

.back-btn {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0px;
    margin-left: 10px;
  }
  img {
    height: 50px;
    width: 50px;
  }
}

img {
  height: 60px;
  width: 60px;
}

.mat-icon-top {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border: 0;
    cursor: pointer;
  }

  .channel-button {
    background-color: transparent;
    display: flex;
    margin-left: 16px;
    align-items: center;
    .mat-icon-top{
      font-size: 16px !important;
    }
    .channel-name {
      padding-left: 10px;
      padding-right: 10px;
    }
    p {
      margin-bottom: 0px;
    }
  }

  .add-user-button {
    background-color: $Bg;
    margin-right: 16px;
    border-radius: 40px;
    width: 34px;
    height: 34px;
    .mat-icon {
      font-size: 16px !important;
    }
  }
}

.chat-interface {
  background-color: white;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 30px;
  flex-shrink: 0;
  width: calc(100% - 32px);
  border-radius: 30px;
  height: 145px;

  .chat-card {
    background-color: white !important;
    border-radius: 20px;
    height: 145px;
    border: 1px solid $LightPurple;
    transition: border-color 0.3s ease;
    &:hover,
    &:focus-within {
      border-color: $purple1;
    }
  }

  textarea {
    border: 0;
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 52px;
    font-family: "Nunito" !important;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    box-shadow: none;
  }

  textarea:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .chat-buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    button {
      border: 0;
      cursor: pointer;
      background-color: transparent;
    }
    .buttons-left {
      font-size: 24px !important;
      .mat-icon {
        color: gray;
        border-radius: 50%;
        padding: 6px;
        &:hover {
          background-color: lightgray;
          color: $purple1;
        }
      }
    }
    .button-right {
      .mat-icon {
        color: $purple1;
        &:hover {
          color: $purple2;
        }

        &:active {
          color: $purple2;
        }
      }
    }
  }
}

.chat-body {
  padding-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
  width: 100%;
}

