<section class="header">
  <button class="back-btn nuito18px700">
    <mat-icon class="mat-icon-top" fontIcon="arrow_back_ios_new"></mat-icon>
    <img src="./assets/img/workspace-logo.png" />
    <p>Devspace</p>
  </button>
  <button class="profile-btn">
    <img src="./assets/img/avatar/3.png" alt="Avatar" />
  </button>
</section>
<section class="chat-header">
  <button class="channel-button">
    <p class="nuito18px700">#</p>
    <p class="channel-name nuito18px700">Entwicklerteam</p>
    <mat-icon class="mat-icon-top" fontIcon="keyboard_arrow_down"></mat-icon>
  </button>
  <button class="add-user-button">
    <mat-icon class="mat-icon-top" fontIcon="person_add_alt"></mat-icon>
  </button>
</section>
<section class="chat-body"></section>
<section class="chat-interface">
  <mat-card class="chat-card" appearance="outlined">
    <textarea name="" id="chat-field" placeholder="Nachricht an Entwicklerteam"></textarea>
    <mat-card-actions class="chat-buttons">
      <div class="buttons-left">
        <button><mat-icon fontIcon="insert_emoticon"></mat-icon></button> 
        <button><mat-icon fontIcon="alternate_email"></mat-icon></button>
      </div>
      <div class="button-right">
          <button><mat-icon fontIcon="send"></mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
