@use "./../../../styles.scss" as *;

:host ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: transparent !important;
}

:host ::ng-deep .mat-mdc-input-element::placeholder {
    font-family: "Nunito" !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    color: $TextGray !important;
    opacity: 1 !important;
}

:host ::ng-deep .mat-mdc-input-element {
    color: black !important;
}

:host ::ng-deep .mat-mdc-form-field-infix {
    padding-block: 20px;
}

:host ::ng-deep .mat-mdc-form-field .mdc-line-ripple {
    display: none !important;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep .mat-mdc-form-field-bottom-align::before {
    display: none !important;
}

input {
    border: none;
    padding-left: 20px;
    width: calc(48vw - 40px);
    height: 33px;
    background-color: transparent;
    outline: none;
    font-family: "Nunito" !important;
    font-size: 24px !important;
    font-weight: 400 !important;
}

.search-form {
    margin-block: 16px;
    border: 1px solid;
    border-color: $LightPurple;
    border-radius: 42px;
    color: $TextGray;
    background-color: white;

    .search-full-width {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 35vw;
        max-width: 50vw;
        height: 70px;

        .mat-icon {
            padding-right: 32px;
            font-size: 35px;
            width: 35px;
            height: 35px;
            color: $TextGray;
        }
    }
}

.search-results {
    position: absolute;
    top: 70px;
    margin-left: 40px;
    border-radius: 30px;
    border-top-left-radius: 0;
    border: 1px solid$LightPurple;
    max-width: 300px;
    max-height: 500px;
    overflow-y: auto;
    background-color: white;
    z-index: 15;
}

.list {
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        align-items: center;
        margin: 16px;
        margin-bottom: 0;
        padding: 6px 20px;
        height: 58px;
        border-radius: 42px;
        cursor: pointer;

        img {
            width: 50px;
            height: 50px;
        }

        p {
            margin: 0;
        }

        &:first-child {
            margin-top: 32px;
        }

        &:last-child {
            margin: 16px;
        }

        &:hover {
            color: $purple3;
            background-color: #D9D9D9;
        }

        .status {
            position: relative;
            right: 13px;
            margin: 35px 0 0 0;
            border: 2px solid white;
            border-radius: 50%;
            width: 10px;
            height: 10px;

            &.online {
                background-color: $onlineGreen;
            }

            &.offline {
                background-color: $TextGray;
            }
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.from-chat {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
}