@use "./../../../../../styles.scss" as *;

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 13px;
    width: 100%;
    box-sizing: border-box;

    img {
        height: 56px;
        width: 56px;
    }

    h1 {
        color: black;
        margin: 0;
        font-weight: 500;
    }
}

.input-title {
    padding: 35px 20px 0 20px;
    margin-bottom: 20px;
    gap: 15px;
    width: 100%;
    max-width: 486px;
    box-sizing: border-box;

    div {
        display: flex;
        align-items: center;
        flex-direction: row;

        h2 {
            font-size: 27px !important;
        }

        img {
            height: 40px;
            width: 40px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.input-section {
    border-radius: 30px;
    background-color: white;
    // margin: 30px 13px 30px 13px;
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
    max-width: 606px;

    h2 {
        margin: 0;
        color: $purple1;
    }
}

.avatar-container,
.choose-container {
    justify-items: unset;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 20px 0 0;
    margin: 30px 0 30px 0;
    width: 100%;
    max-width: 320px;
}

.login-button {
    border-radius: 25px !important;
    background-color: $purple1 !important;
}