<section class="flex-collum-center logIn-Section">
  <div class="logo-container">
    <img src="./../../../assets/img/logo.png" alt="" />
    <div class="nuito20px"><h1>DABubble</h1></div>
  </div>

  <section class="input-section">
    <div class="flex-collum-center input-title">
      <div>
        <img
          routerLink="/singIn"
          src="./../../../../assets/img/back.png"
          alt=""
        />
        <h2 class="nuito32px700">Wähle deinen Avatar</h2>
      </div>
    </div>
    <form class="input-container">
      <div class="flex-collum-center avatar-container">
        <div>
          <img src="./../../../../../assets/img/avatar/Profile.png" alt="" />
        </div>
        <div class="flex-collum-center choose-container">
          <h2>Frededrik Beck</h2>
          <p>Choose your avatar....</p>
          <div class="img-container">
            <img src="./../../../../../assets/img/avatar/1.png" alt="" />
            <img src="./../../../../../assets/img/avatar/2.png" alt="" />
            <img src="./../../../../../assets/img/avatar/3.png" alt="" />
            <img src="./../../../../../assets/img/avatar/4.png" alt="" />
            <img src="./../../../../../assets/img/avatar/5.png" alt="" />
            <img src="./../../../../../assets/img/avatar/6.png" alt="" />
          </div>
        </div>
      </div>
      <div class="button-container">
        <a (click)="sendNewProfil()">
          <button mat-flat-button class="nuito18px700 h49px login-button">
            Weiter
          </button>
        </a>
      </div>
    </form>
  </section>
  <div *ngIf="animation" class="overlay">
    <div class="creation-container">
      <div
        [ngClass]="{ 'animation-RightToLeft': animation }"
        class="creation-content flex-collum-center"
      >
        <h2>Konto erfolgreich erstellt!</h2>
      </div>
    </div>
  </div>
</section>
