@use "./../../../../../styles.scss" as *;

.animation-RightToLeft {
    animation: fromRightToLeft 0.2s 1.3s linear forwards;
}

@media only screen and (min-width: 400px) {

    .input-title {
        div {
            align-items: center;

        }
    }
}

@media only screen and (min-width: 600px) {

    .input-title {
        padding: 40px 32px 0 32px;
    }

    .logIn-Section {
        margin: 77px 30px 0 30px;
        gap: 65px;
    }

    .header-desktop {
        display: flex !important;
        justify-content: space-between;
    }

    .logo-container-mobile {
        display: none;
    }
}

@keyframes fromRightToLeft {
    0% {
        left: 400px;
    }

    100% {
        left: 0px;
    }
}