<section class="flex-collum-center logIn-Section">
  <div class="logo-container">
    <img src="./../../../assets/img/logo.png" alt="" />
    <div class="nuito20px"><h1>DABubble</h1></div>
  </div>

  <section class="input-section">
    <div class="flex-collum-center input-title">
      <div>
        <img routerLink="/" src="./../../../../assets/img/back.png" alt="" />
        <h2 class="nuito32px700">Passwort zurücksetzen</h2>
      </div>
    </div>
    <form class="input-container">
      <mat-form-field class="border-100px" [formGroup]="passwordForm">
        <mat-label>Neues Password</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input
          class="inputfield"
          matInput
          formControlName="password"
          required
        />
        @if (passwordForm.get('password')?.hasError('required')) {
        <mat-error> Bitte geben Sie ein Passwort ein. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="border-100px" [formGroup]="passwordForm">
        <mat-label>Neues Password bestätigen</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input
          class="inputfield"
          matInput
          formControlName="passwordContoll"
          required
        />
        @if (passwordForm.get('password')?.hasError('pattern')) {
        <mat-error
          >Passwort muss mindestens 8 Zeichen lang sein, eine Zahl, ein Groß-
          und Kleinbuchstaben enthalten</mat-error
        >
        } @if (passwordForm.errors?.['PasswordNoMatch']) {
        <mat-error>Ihre Passwörter stimmen nicht überein</mat-error>
        }
      </mat-form-field>
      <div class="button-container">
        <button
          [disabled]="passwordForm.invalid"
          (click)="checkFormular()"
          mat-flat-button
          class="nuito18px700 h49px sendMail"
          [ngClass]="{ 'button-activ': passwordForm.valid }"
        >
          Weiter
        </button>
      </div>
    </form>
  </section>
  <div *ngIf="animation" class="overlay">
    <div class="creation-container">
      <div
        [ngClass]="{ 'animation-RightToLeft': animation }"
        class="creation-content flex-collum-center"
      >
        <mat-icon>send</mat-icon>
        <h2>E-Mail gesendet</h2>
      </div>
    </div>
  </div>
</section>
