<section class="flex-collum-center">
  <header class="header-desktop">
    <div class="logo-container-desktop">
      <img src="./../../../assets/img/logo.png" alt="" />
      <div>
        <h1 class="nuito27px">DABubble</h1>
      </div>
    </div>
  </header>

  <section class="flex-collum-center logIn-Section">
    <div class="logo-container-mobile">
      <img src="./../../../assets/img/logo.png" alt="" />
      <div class="nuito27px"><h1>DABubble</h1></div>
    </div>

    <section class="input-section">
      <div class="flex-collum-center input-title">
        <div class="input-headline">
          <div class="arrow-img">
            <img
              class="default-arrows"
              src="./../../../../assets/img/back.png"
              alt=""
            />
            <img
              class="hover-arrows"
              routerLink="/"
              src="./../../../../assets/img/back_hover.png"
              alt=""
            />
          </div>
          <div class="input-h2">
            <h2 class="nuito32px700">Passwort zurücksetzen</h2>
          </div>
        </div>
      </div>
      <form class="input-container" [formGroup]="passwordForm">
        <mat-form-field>
          <mat-label>Neues Password</mat-label>
          <mat-icon matPrefix>password</mat-icon>
          <input
            class="inputfield"
            matInput
            formControlName="password"
            required
          />
          @if (passwordForm.get('password')?.hasError('required')) {
          <mat-error> Bitte geben Sie ein Passwort ein.</mat-error>
          } @if (passwordForm.get('password')?.hasError('pattern')) {
          <mat-error>Passwort muss mindestens 6 Zeichen lang sein.</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Neues Password bestätigen</mat-label>
          <mat-icon matPrefix>password</mat-icon>
          <input
            class="inputfield"
            matInput
            formControlName="passwordContoll"
            required
            [errorStateMatcher]="confirmMatcher"
          />
          @if (passwordForm.hasError('PasswordNoMatch') &&
          passwordForm.get('passwordContoll')?.touched) {
          <mat-error>Ihre Passwörter stimmen nicht überein</mat-error>
          }
        </mat-form-field>
        <div class="button-container">
          <button
            [disabled]="passwordForm.invalid"
            (click)="sendNewPassword()"
            mat-flat-button
            class="nuito18px700 h49px sendMail"
            [ngClass]="{ 'button-activ': passwordForm.valid }"
          >
            Passwort ändern
          </button>
        </div>
      </form>
    </section>
    <footer class="footer-desktop">
      <div class="link-container">
        <a class="figtree18px400" routerLink="/legalNotice">Impressum</a>
      </div>
      <div class="link-container">
        <a class="figtree18px400" routerLink="/privacyPolicy">Datenschutz</a>
      </div>
    </footer>
    @if (animation) {
    <div class="overlay">
      <div
        [ngClass]="{ 'animation-RightToLeft': animation }"
        class="creation-container"
      >
        <div class="creation-content flex-collum-center">
          <h2>Passwort geändert</h2>
        </div>
      </div>
    </div>
    }
  </section>
</section>
