<mat-card class="profil-edit-dialog">
  <mat-card-header>
    <mat-card-title class="title">
      <span>Dein Profil bearbeiten</span>
      <button
        mat-icon-button
        class="close-button"
        aria-label="Profil änderung schließen"
        (click)="closeDialog()"
      >
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="profil-image">
    <img
      [src]="'./assets/img/profil/' + selectedAvatar + '.png'"
      alt="Avatar von Frederik Beck (Du)"
    />
  </mat-card-content>
  <mat-card-content class="profil-avatars">
    <span class="profil-avatars-title">Wähle ein Avatar</span>
    <div class="avatars-container">
      @for(avatar of avatars; track avatar){
      <button
        mat-button
        class="avatar-button"
        [class.selected]="avatar === selectedAvatar"
        (click)="selectAvatar(avatar)"
      >
        <img
          [src]="'./assets/img/profil/' + avatar + '.png'"
          [alt]="'Avatar ' + avatar"
        /></button
      >}
    </div>
  </mat-card-content>
  <mat-card-content class="profil-name">
    <span class="profil-name-headline">
      <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
      <span>Vollständiger Name</span>
    </span>
    <mat-form-field appearance="fill" class="profil-name-field">
      <input
        matInput
        [(ngModel)]="newName"
        placeholder="{{ currentUser?.userName }}"
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-content class="cancel-save-btn">
    <button
      mat-button
      class="cancel btn"
      aria-label="Profil änderung schließen"
      (click)="closeDialog()"
    >
      <span>Abbrechen</span>
    </button>
    <button
      mat-button
      class="save btn"
      aria-label="Profil speichern"
      (click)="saveUserName()"
      [disabled]="!newName.trim()"
    >
      <span>Speichern</span>
    </button>
  </mat-card-content>
</mat-card>
