@use "./../../../styles.scss" as *;

.msg-header {
  padding-left: 16px;
  padding-right: 16px;
  height: 35px;
  display: flex;
  width: calc(100% - 32px);
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  span {
    height: 1px;
    width: 100%;
    background-color: $LightPurple;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    border: 1px solid $LightPurple;
    border-radius: 20px;
    padding: 2px 10px;
    white-space: nowrap;
  }
}

.msg-body {
    padding-left: 16px;
  padding-right: 16px;
  display: flex;
  padding-top: 10px;
}

.msg-own-body {
    padding-left: 16px;
  padding-right: 16px;
  display: flex;
  padding-top: 10px;
  flex-direction: row-reverse;
}

.msg-info {
  display: flex;
  align-items: center;
}

.chatter-name{
  background-color: transparent;
  border: none;
}

.msg-own-info {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.msg-main {
  margin-left: 16px;
}

.msg-own-main {
  margin-right: 16px;
}

.msg-time {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "nunito";
  font-weight: 400;
  font-size: 14px;
  color: #686868;
}

.msg-content {
  position: relative;
  background-color: $Bg;
  padding: 15px;
  border-radius: 20px;
  border-top-left-radius: 0;
  .msg-text {
    font-family: "nunito";
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.msg-own-content {
  background-color: $purple2;
  padding: 15px;
  border-radius: 20px;
  border-top-right-radius: 0;
    .msg-text {
    font-family: "nunito";
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
  }
}

.msg-answers {
  display: flex;
  margin-top: 8px;
  align-items: center;
  padding-bottom: 20px;
  button {
    background-color: transparent;
    border: none;
    font-family: "nunito";
    font-size: 18px;
    font-weight: 400;
    color: $purple3;
    padding: 0px;
  }
  .answer-time {
    margin-left: 20px;
    font-family: "nunito";
    font-weight: 400;
    font-size: 14px;
    color: #686868;
    margin-bottom: 0px;
  }
}

.msg-own-answers {
  display: flex;
  margin-top: 8px;
  align-items: center;
  padding-bottom: 20px;
  justify-content: flex-end;
  button {
    background-color: transparent;
    border: none;
    font-family: "nunito";
    font-size: 18px;
    font-weight: 400;
    color: $purple3;
    padding: 0px;
  }
  .answer-time {
    margin-left: 20px;
    font-family: "nunito";
    font-weight: 400;
    font-size: 14px;
    color: #686868;
    margin-bottom: 0px;
  }
}

.msg-active {
  background-color: $Bg; 
  .msg-content{
    background-color: white;
  }
}

.msg-own-active{
  background-color: $Bg;
}

.msg,
.msg-own {
  position: relative;
}

.popup-menu {
  position: absolute;
  bottom: 65%; 
  left: 40%;
  transform: translateX(-10%);
  background: white;
  border: 1px solid #ADB0D9;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  visibility: hidden; 
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
      button {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
}

.popup-menu.active,
.popup-menu-own.active {
  visibility: visible;
  opacity: 1;
}

.popup-menu-own {
  position: absolute;
  bottom: 68%; 
  right: 40%;
  transform: translateX(10%);
  background: white;
  border: 1px solid #ADB0D9;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  visibility: hidden; 
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
      button {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 650px) {
.popup-menu {
  bottom: 65%; 
  left: 70%;
  transform: translateX(-10%);

}

.popup-menu-own {
  bottom: 65%; 
  right: 70%;
  transform: translateX(10%)
}
}