<div *ngFor="let message of messages" (click)="onMessageClick(message, $event)">
  <!-- Own Message -->
  <ng-container *ngIf="message.id === currentUser; else otherMessage">
    <div class="msg-own">
      <div class="msg-header">
        <span></span>
        <p>{{ message.date }}</p>
      </div>
      <div
        [ngClass]="{ 'msg-own-active': selectedMessage === message }"
        class="msg-own-body"
      >
        <div class="msg-avatar">
          <img [src]="message.avatar" alt="" />
        </div>
        <div class="msg-own-main">
          <div class="msg-own-info">
            <button class="chatter-name nuito18px700">
              {{ message.name }}
            </button>
            <p class="msg-time">{{ message.time }}</p>
          </div>
          <div class="msg-own-content">
            <p class="msg-text">{{ message.text }}</p>
          </div>
          <div class="msg-own-answers">
            <button>{{ message.answersCount }} Antworten</button>
            <p class="answer-time">{{ message.lastAnswerTime }}</p>
          </div>
          <div class="msg-reactions-own">
            <ng-container
              *ngIf="message.reactions && message.reactions.length > 0"
            >
              <button
                *ngFor="let reaction of message.reactions"
                (click)="selectReaction(reaction.reaction, message)"
                class="reaction"
              >
                {{ reaction.reaction }} {{ reaction.count }}
              </button>
              <button class="icon-button">
                <mat-icon
                  (click)="toggleReactionPicker(message, $event)"
                  fontSet="material-icons-outlined"
                  >add_reaction</mat-icon
                >
              </button>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="popup-menu-own" [class.active]="selectedMessage === message">
        <button (click)="selectReaction('✅', message)">✅</button>
        <button (click)="selectReaction('👍', message)">👍</button>
        <button>
          <mat-icon
            (click)="toggleReactionPicker(message, $event)"
            fontSet="material-icons-outlined"
            >add_reaction</mat-icon
          >
        </button>
        <button>
          <mat-icon fontSet="material-icons-outlined">message</mat-icon>
        </button>
        <button>
          <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
        </button>
      </div>
      <!-- Reaction Picker Component -->
      <app-reaction-picker
        *ngIf="activeReactionPickerId === message.id"
        (reactionSelected)="selectReaction($event, message)"
      ></app-reaction-picker>
    </div>
  </ng-container>

  <!-- Other Message -->
  <ng-template #otherMessage>
    <div class="msg">
      <div class="msg-header">
        <span></span>
        <p>{{ message.date }}</p>
      </div>
      <div
        [ngClass]="{ 'msg-active': selectedMessage === message }"
        class="msg-body"
      >
        <div class="msg-avatar">
          <img [src]="message.avatar" alt="" />
        </div>
        <div class="msg-main">
          <div class="msg-info">
            <button class="chatter-name nuito18px700">
              {{ message.name }}
            </button>
            <p class="msg-time">{{ message.time }}</p>
          </div>
          <div class="msg-content">
            <p class="msg-text">{{ message.text }}</p>
          </div>
          <div class="msg-answers">
            <button>{{ message.answersCount }} Antworten</button>
            <p class="answer-time">{{ message.lastAnswerTime }}</p>
          </div>
          <div class="msg-reactions">
            <ng-container
              *ngIf="message.reactions && message.reactions.length > 0"
            >
              <button
                *ngFor="let reaction of message.reactions"
                (click)="selectReaction(reaction.reaction, message)"
                class="reaction"
              >
                {{ reaction.reaction }} {{ reaction.count }}
              </button>
              <button class="icon-button">
                <mat-icon
                  (click)="toggleReactionPicker(message, $event)"
                  fontSet="material-icons-outlined"
                  >add_reaction</mat-icon
                >
              </button>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="popup-menu" [class.active]="selectedMessage === message">
        <button (click)="selectReaction('✅', message)">✅</button>
        <button (click)="selectReaction('👍', message)">👍</button>
        <button>
          <mat-icon
            (click)="toggleReactionPicker(message, $event)"
            fontSet="material-icons-outlined"
            >add_reaction</mat-icon
          >
        </button>
        <button>
          <mat-icon fontSet="material-icons-outlined">message</mat-icon>
        </button>
      </div>
      <!-- Reaction Picker Component -->
      <app-reaction-picker
        *ngIf="activeReactionPickerId === message.id"
        (reactionSelected)="selectReaction($event, message)"
      ></app-reaction-picker>
    </div>
  </ng-template>
</div>
