@media (min-width: 650px) {
  .popup-menu {
    bottom: 65%;
    left: 62%;
    transform: translateX(-10%);
  }

  .popup-menu-own {
    bottom: 65%;
    right: 55%;
    transform: translateX(10%);
  }
}

@media (max-width: 400px) {
  .msg-answers {
    button {
      font-size: 16px !important;
    }
  }

  .msg-own-answers {
    button {
      font-size: 16px !important;
    }
  }
}
