@use "./../../../styles.scss" as *;

.msg-own-body {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  padding-top: 10px;
  flex-direction: row-reverse;
}

.msg-own-info {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 8px;

  button {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.msg-own-main {
  margin-right: 16px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.msg-own-content {
  background-color: $purple2;
  padding: 15px;
  border-radius: 20px;
  border-top-right-radius: 0;
  width: fit-content;
  min-width: 100px;

  .msg-text {
    font-family: "nunito";
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
  }
}

.msg-own-answers {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: flex-end;

  button {
    background-color: transparent;
    border: none;
    font-family: "nunito";
    font-size: 18px;
    font-weight: 400;
    color: $purple3;
    padding: 0px;
  }

  .answer-time {
    margin-left: 20px;
    font-family: "nunito";
    font-weight: 400;
    font-size: 14px;
    color: #686868;
    margin-bottom: 0px;
  }
}

.msg-reactions-own {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;

  .reaction {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    margin-right: 4px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 1;
    height: 22px;
    border: 1px solid #adb0d9;
    font-family: "Nunito" !important;
    position: relative;
  }

  .reaction-popup {
    position: absolute;
    bottom: 20px;
    left: 80%;
    transform: translateX(-10%);
    background: $purple1;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .reaction:hover .reaction-popup {
    opacity: 1;
    visibility: visible;
  }
}

.msg-own-active {
  background-color: $Bg;
}

.msg,
.msg-own {
  position: relative;
}

.msg,
.msg-own {
  &:hover {
    background-color: $Bg;
    cursor: pointer;

    .msg-content {
      background-color: white;
    }

    .popup-menu,.popup-menu-own {
      opacity: 1;
      visibility: visible;
    }
  }
}

.popup-menu.active,
.popup-menu-own.active {
  visibility: visible;
  opacity: 1;
}

.popup-menu-own {
  position: absolute;
  bottom: 68%;
  right: 40%;
  transform: translateX(10%);
  background: white;
  border: 1px solid #adb0d9;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;

  button {
    font-size: 20px;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: lightgray;
    }
  }
}