@use "./../../../styles.scss" as *;

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 45px;
    width: calc(100% - 90px);
    height: 48px;

    .logo-name {
        padding-inline: 6px;
        width: 305px;
        height: 70px;
        object-fit: contain;
    }

    button {
        display: flex;
        align-items: center;
        gap: 20px;
        border: 0;
        background-color: transparent;

        p {
            margin: 0;
        }

        img {
            width: 70px;
        }

        mat-icon {
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
    }
}