@use "./../../../styles.scss" as *;

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: calc(100% - 32px);
    height: 48px;

    .logo-name {
        padding-inline: 6px;
        width: 161px;
        height: 45px;
        object-fit: fill;
    }

    button {
        display: flex;
        align-items: center;
        gap: 20px;
        border: 0;
        background-color: transparent;

        p {
            margin: 0;
        }

        img {
            width: 50px;
        }
    }
}