@use "./../../../styles.scss" as *;

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-logo {
    width: 100%;
    max-width: 1440px;
}

.mat-mdc-icon-button {
    mat-icon {
        width: 24px;
        height: 24px;
        font-weight: 600;
    }

    &:hover {
        background-color: $Bg !important;

        mat-icon {
            color: $purple3;
        }
    }
}

.privacy-policy {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 75px 0;
    padding: 0 75px;
    box-sizing: border-box;


    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    a {
        color: black;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        font-size: 26px;
        font-weight: 400;
        margin-block: 16px;
        line-height: normal;
    }

    li {
        font-size: 26px;
        margin-bottom: 8px;
        line-height: normal;
    }

    ul {
        word-break: break-word;
    }
}

.arrow-container {
    height: 40px;
    width: 40px;
}

.arrow-img {
    img {
        height: 40px;
        width: 40px;
    }

    &:hover {
        .default-arrows {
            display: none;
        }

        .hover-arrows {
            display: block;
            cursor: pointer;
        }
    }
}

.scroll-container {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $Bg;
        border-radius: 4px;
    }
}

.headline {
    margin: 0;
    font-weight: 700;
    color: $purple1;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 32px;
    background-color: white;
    border-radius: 30px;
}

.privacy-policy-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    padding: 0;

    img {
        width: 40px;
        height: 40px;
    }
}

.default-arrows {
    display: block;
}

.hover-arrows {
    display: none;
}


@media (max-width: 630px) {
    .privacy-policy {
        padding: 0;
        margin-inline: 5%;

        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 22px;
        }

        a {
            word-break: break-word;
        }

        p {
            font-size: 24px;
            word-break: break-word;
        }

        ul {
            word-break: break-word;
        }
    }
}

@media (max-width: 400px) {
    .privacy-policy {

        ul {
            padding-left: 20px;
        }
    }

    .content-wrapper {
        padding: 20px;
    }
}

@media (max-width: 350px) {
    .privacy-policy {
        padding: 0;

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 16px;
        }

        p {
            font-size: 20px;
            word-break: break-word;
        }

        ul {
            padding-left: 15px;
        }

        li {
            font-size: 24px;
            word-break: break-word;
        }
    }
}