<section class="flex-collum-center logIn-Section">
  <div class="logo-container">
    <img src="./../../../assets/img/logo.png" alt="" />
    <div class="nuito20px"><h1>DABubble</h1></div>
  </div>

  <section class="input-section">
    <div class="flex-collum-center input-title">
      <div>
        <img routerLink="/" src="./../../../../assets/img/back.png" alt="" />
        <h2 class="nuito32px700">Passwort zurücksetzen</h2>
      </div>
      <p class="nuito17px400">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
    </div>
    <form class="input-container">
      <mat-form-field>
        <mat-label>Deine E-Mail-Adresse</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input
          class="inputfield"
          matInput
          placeholder="beispielname@email.com"
          [formControl]="email"
          (blur)="updateErrorMessageEmail()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessageEmail }}</mat-error>
        }
      </mat-form-field>
      <div class="button-container">
        <button
          [disabled]="!email.valid"
          (click)="checkFormular()"
          mat-flat-button
          class="nuito18px700 h49px sendMail"
          [ngClass]="{ 'button-activ': email.valid }"
        >
          Weiter
        </button>
      </div>
    </form>
  </section>
  <div *ngIf="animation" class="overlay">
    <div class="creation-container">
      <div
        [ngClass]="{ 'animation-RightToLeft': animation }"
        class="creation-content flex-collum-center"
      >
        <mat-icon>send</mat-icon>
        <h2>E-Mail gesendet</h2>
      </div>
    </div>
  </div>
</section>
