<header class="header-desktop">
  <div class="logo-container-desktop">
    <img src="./../../../assets/img/logo.png" alt="" />
    <div>
      <h1 class="nuito27px">DABubble</h1>
    </div>
  </div>
</header>

<section class="flex-collum-center logIn-Section">
  <div class="logo-container-mobile">
    <img src="./../../../assets/img/logo.png" alt="" />
    <div><h1 class="nuito27px">DABubble</h1></div>
  </div>

  <section class="input-section">
    <div class="flex-collum-center input-title">
      <div class="input-headline">
        <div class="arrow-img">
          <img
            class="default-arrows"
            src="./../../../../assets/img/back.png"
            alt=""
          />
          <img
            class="hover-arrows"
            routerLink="/"
            src="./../../../../assets/img/back_hover.png"
            alt=""
          />
        </div>
        <div class="input-h2">
          <h2 class="nuito32px700">Passwort zurücksetzen</h2>
        </div>
      </div>
      <p class="nuito17px400">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
    </div>
    <form class="input-container">
      <mat-form-field>
        <mat-label>Deine E-Mail-Adresse</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input
          class="inputfield"
          matInput
          placeholder="beispielname@email.com"
          [formControl]="email"
          (blur)="updateErrorMessageEmail()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessageEmail }}</mat-error>
        }
      </mat-form-field>
      <div class="description-container">
        <p class="nuito17px400">
          Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
        </p>
      </div>
      <div class="button-container">
        <button
          [disabled]="!email.valid"
          (click)="checkFormular()"
          mat-flat-button
          class="nuito18px700 h49px sendMail"
          [ngClass]="{ 'button-activ': email.valid }"
        >
          E-Mail senden
        </button>
      </div>
    </form>
  </section>
  @if (animation) {
  <div class="overlay">
    <div
      class="creation-container"
      [ngClass]="{ 'animation-RightToLeft': animation }"
    >
      <div class="creation-content flex-collum-center">
        <mat-icon>send</mat-icon>
        <h2>E-Mail gesendet</h2>
      </div>
    </div>
  </div>
  }
  <footer class="footer-desktop">
    <div class="link-container">
      <a class="figtree18px400" routerLink="/legalNotice">Impressum</a>
    </div>
    <div class="link-container">
      <a class="figtree18px400" routerLink="/privacyPolicy">Datenschutz</a>
    </div>
  </footer>
</section>
