@use "./../../../../styles.scss" as *;

:host ::ng-deep .mat-mdc-form-field .mdc-line-ripple {
    display: none !important;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep .mat-mdc-form-field-bottom-align::before {
    display: none !important;
}

::ng-deep .bottom-dialog-panel .mat-mdc-dialog-surface.mdc-dialog__surface {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: 0 -4px 18px rgba(0, 0, 0, 0.18) !important;
    overflow: hidden;
    padding: 0;
    background: white !important;
}

::ng-deep .mat-mdc-chip.mdc-evolution-chip--with-trailing-action,
::ng-deep .mat-mdc-chip-action-label {
    display: flex;
    align-items: center;
    gap: 10px;
}


::ng-deep .mat-mdc-autocomplete-panel {
    display: grid;
    gap: 15px;
    border: 1px solid $LightPurple;
    border-radius: 0 28px 28px 28px !important;
    padding: 4px 0;
    max-height: 130px;
    background-color: white !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

::ng-deep .mat-mdc-option,
::ng-deep .mdc-list-item__primary-text {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: black !important;
    height: 52px !important;
}

input {
    font-family: 'Nunito' !important;
    font-size: 18px !important;
}

.menu-dialog {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: white;

    &.from-main-menu {
        padding: 30px 26px 30px 26px;
    }

    &.from-add-channel {
        padding: 15px 20px 40px 20px;
    }

    .handle {
        width: 56px;
        height: 4px;
        border-radius: 2px;
        background: #D9D9D9;
        margin: 16px auto 0;
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 16px;
        border: 0;
        padding: 16px 24px;
        background: transparent;
        font: inherit;

        &:first-of-type {
            width: 130px;
        }

        &:last-of-type {
            width: 175px;
        }

        mat-icon {
            font-size: 24px;
        }

        span {
            font-size: 18px;
            font-weight: 500;
        }

        &:hover {
            color: $purple3;
            background: rgba(0, 0, 0, .04);
            border-radius: 30px;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close-button {
        border: 0;
        border-radius: 42px;
        padding: 8px 8px 4px 8px;
        background-color: white;

        &:hover {
            background-color: #D9D9D9;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;

    .check-btn-all,
    .check-btn-people {
        display: flex;
        gap: 20px;
    }

    .check-btn-all {
        .channel-name {
            color: $purple3;
        }
    }

    .activ {
        cursor: default;
    }

    .not-activ {
        cursor: pointer;
    }
}

.radio-icon-wrapper {
    position: relative;
    width: 24px;
    height: 24px;

    mat-icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 24px;
    }

    .outer {
        color: $LightPurple;
    }

    .inner {
        color: $purple1;
        font-size: 12px;
        top: 6.4px;
        left: 5.7px;
    }
}

.add-people-input {
    border: 1px solid;
    border-color: $LightPurple;
    border-radius: 42px;
    transition: border-color 0.2s;

    &.focused,
    &:focus-within {
        border-color: $purple1 !important;
    }

    .mat-mdc-standard-chip {
        --mdc-chip-elevated-container-color: #ECEEFE;
        --mdc-chip-label-text-color: black;
    }

    .mat-icon {
        color: black;
    }

    .chip-avatar {
        width: 34px;
        height: 34px;
    }
}

.create-new-channel {
    display: flex;
    justify-content: end;

    .create-channel-button {
        width: 125px;
        height: 49px;
        background-color: $purple1;
        border: 0;
        border-radius: 30px;
        font-family: 'Nunito';
        font-size: 18px;
        font-weight: 700;
        color: white;

        &:disabled {
            background-color: $TextGray;
        }
    }
}

.chip-avatar-wrapper {
    position: relative;
    display: inline-block;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .status-icon {
        position: absolute;
        bottom: 3px;
        left: 33px;
        font-size: 14px;
        background-color: white;
        border-radius: 50%;
        margin: 0;
        padding: 2px;
        width: 16px;
        height: 16px;

        &.online {
            color: $onlineGreen;
        }

        &.offline {
            color: $TextGray;
        }
    }
}