<section class="section-main">
  @if(currentUser!){
  <app-header
    [currentUser]="currentUser$ | async"
    (chatSelected)="onChatSelected($event)"
    (chatTypeSelected)="onChatTypeSelected($event)"
    (closeNewMessage)="closeNewMessage()"
  >
  </app-header>
  }
  <section class="main">
    <button class="show-main-menu" (click)="showMainMenu = !showMainMenu">
      <p>
        {{
          showMainMenu ? "Workspace-Menü schließen" : "Workspace-Menü öffnen"
        }}
      </p>
      <mat-icon
        fontIcon="{{ showMainMenu ? 'chevron_left' : 'chevron_right' }}"
      ></mat-icon>
    </button>
    <section
      class="left"
      [class.menu-open]="showMainMenu"
      [class.menu-closed]="!showMainMenu"
    >
      <app-main-menu
        (closeNewMessage)="showNewMessage = false"
        (newMessage)="openNewMessage()"
        (chatSelected)="onChatSelected($event)"
        (chatTypeSelected)="onChatTypeSelected($event)"
      >
      </app-main-menu>
    </section>
    <section class="center">
      <app-chat-template
        [chatId]="currentChatId"
        [chatType]="currentChatType"
        (threadOpened)="openThread($event)"
        [hidden]="showNewMessage"
         (channelLeft)="handleChannelLeft()"
      >
      </app-chat-template>
      @if (showNewMessage) {
      <app-new-message (close)="closeNewMessage()"></app-new-message>
      }
    </section>
    @if (showThread) {
    <section class="right">
      <app-threads
        [threadId]="currentThreadId"
        (threadClosed)="closeThread()"
      ></app-threads>
    </section>
    }
  </section>
</section>
