<div class="intro">
  <div class="flex-collum-center logo-intro-container">
    <div class="title nuito20px"><h1>DABubble</h1></div>
    <img src="./../../../assets/img/logo.png" alt="" />
  </div>
</div>

<section class="flex-collum-center logIn-Section">
  <div class="logo-container">
    <img src="./../../../assets/img/logo.png" alt="" />
    <div class="nuito20px"><h1>DABubble</h1></div>
  </div>

  <section class="input-section">
    <div class="flex-collum-center input-title">
      <h2 class="nuito32px700">Anmeldung</h2>
      <p class="nuito17px400">
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </p>
    </div>
    <form class="input-container">
      <mat-form-field>
        <mat-label>Deine E-Mail-Adresse</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input
          class="inputfield"
          matInput
          placeholder="beispielname@email.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          class="inputfield"
          matInput
          [type]="hide ? 'password' : 'text'"
          required
        />
      </mat-form-field>
    </form>
    <div class="password-forget-container">
      <a class="figtree17px400" routerLink="/"
        >Passwort vergessen?</a
      >
    </div>
    <div class="separator">
      <div class="line"></div>
      <div class="or-container">
        <p class="nuito17px400">ODER</p>
      </div>
    </div>
    <div class="login-google-container">
      <button>
        <img src="./../../assets/img/google.png" alt="" />
        <p class="nuito17px400">Anmelden mit Google</p>
      </button>
    </div>
    <div class="button-container">
      <button mat-flat-button class="nuito18px700 h49px login-button">
        Anmelden
      </button>
      <button mat-stroked-button class="nuito18px700 h49px second-button">
        Gäste-Login
      </button>
    </div>
  </section>
  <div class="flex-collum-center newUser-container">
    <p class="nuito17px400">Neu bei DABubble?</p>
    <a routerLink="singIn">
      <button mat-stroked-button class="nuito17px400 second-button">
        Konto erstellen
      </button>
    </a>
  </div>
</section>
