@use "./../../../styles.scss" as *;

@media only screen and (min-height: 600px) {
    @keyframes moveToCorner {
        from {
            bottom: 0;
        }

        to {
            bottom: 150px;
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 150px;
        }

        to {
            top: 0;
        }
    }
}

@media only screen and (min-height: 700px) {
    @keyframes moveToCorner {
        from {
            bottom: 0;
        }

        to {
            bottom: 200px;
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 180px;
        }

        to {
            top: 0;
        }
    }
}

@media only screen and (min-height: 800px) {
    @keyframes moveToCorner {
        from {
            bottom: 0;
        }

        to {
            bottom: 215px;
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 200px;
        }

        to {
            top: 0;
        }
    }
}

@media only screen and (min-height: 940px) {
    @keyframes moveToCorner {
        from {
            bottom: 0;
        }

        to {
            bottom: 290px;
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 280px;
        }

        to {
            top: 0;
        }
    }
}

@media only screen and (min-width: 370px) {
    .logIn-Section {
        margin: 92px 30px 0 30px;
    }

    .input-section {
        margin: 30px 13px 30px 13px;
    }

    .login-google-container {
        button {
            gap: 20px;
        }
    }

    .button-container {
        gap: 20px;
    }
}

@media only screen and (min-width: 472px) {
    .login-google-container {
        button {
            padding: 6px 66px 6px 66px;
        }
    }
}

@media only screen and (min-width: 600px) {

    .logIn-Section {
        margin: 11px 30px 0 30px;
        gap: 65px;
    }

    .header-desktop {
        display: flex;
        justify-content: space-between;
    }

    .logo-container-mobile {
        display: none;
    }

    .newUser-container-mobile {
        display: none;
    }

    .logo-intro-container {
        height: 184px;

        img {
            height: 184px;
            width: 186px;
        }
    }

    .title {
        h1 {
            height: 100px;
            transform: translateX(-400px);
            font-size: 72px;
        }
    }

    @keyframes moveToCorner {
        from {
            bottom: 0;
            transform: translate(0, 0) scale(1.0);
        }

        to {
            bottom: 290px;
            transform: translate(-20%, -10%) scale(0.5);
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 280px;
            transform: translate(40%, -27%) scale(2.0);
        }

        to {
            top: 0;
            transform: translate(0, 0) scale(1.0);
        }
    }
}

@media only screen and (min-width: 800px) {
    @keyframes moveToCorner {
        from {
            bottom: 0;
            transform: translate(0, 0) scale(1.0);
        }

        to {
            bottom: 290px;
            transform: translate(-40%, -13%) scale(0.5);
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 280px;
            transform: translate(75%, -27%) scale(2.0);
        }

        to {
            top: 0;
            transform: translate(0, 0) scale(1.0);
        }
    }
}

@media only screen and (min-width: 1000px) {
    @keyframes moveToCorner {
        from {
            bottom: 0;
            transform: translate(0, 0) scale(1.0);
        }

        to {
            bottom: 290px;
            transform: translate(-65%, -13%) scale(0.5);
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 280px;
            transform: translate(90%, -27%) scale(2.0);
        }

        to {
            top: 0;
            transform: translate(0, 0) scale(1.0);
        }
    }
}

@media only screen and (min-width: 1300px) {
    @keyframes moveToCorner {
        from {
            bottom: 0;
            transform: translate(0, 0) scale(1.0);
        }

        to {
            bottom: 290px;
            transform: translate(-80%, -13%) scale(0.5);
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 280px;
            transform: translate(110%, -27%) scale(2.0);
        }

        to {
            top: 0;
            transform: translate(0, 0) scale(1.0);
        }
    }
}

@media only screen and (min-width: 1500px) {
    @keyframes moveToCorner {
        from {
            bottom: 0;
            transform: translate(0, 0) scale(1.0);
        }

        to {
            bottom: 290px;
            transform: translate(-120%, -43%) scale(0.5);
        }
    }

    @keyframes moveToCornerLogin {
        from {
            top: 280px;
            transform: translate(140%, -27%) scale(2.0);
        }

        to {
            top: 0;
            transform: translate(0, 0) scale(1.0);
        }
    }
}

@keyframes nameToRight {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes imgToLeft {
    from {
        transform: translateX(74px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}