@import "./../../../styles.scss";

.logIn-Section {}

.intro {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    inset: 0;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation: fadeout 1.0s 4.0s linear forwards;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 263px;
    height: 69px;

    img {
        height: 69px;
        width: 70px;
        transform: translateX(74px);
        animation: imgToLeft 0.5s 2.0s linear forwards;
    }
}

.title {
    overflow-x: hidden;

    h1 {
        transform: translateX(-154px);
        font-family: 'Nunito';
        color: white;
        animation: nameToRight 0.5s 2.5s linear forwards;
    }
}

@keyframes nameToRight {
    from {
        transform: translateX(-154px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes imgToLeft {
    from {
        transform: translateX(74px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}