@use "./../../../styles.scss" as *;

@media only screen and (min-width: 370px) {
    .logIn-Section {
        margin: 92px 30px 0 30px;
    }

    .input-section {
        margin: 30px 13px 30px 13px;
    }

    .login-google-container {
        button {
            gap: 20px;
        }
    }

    .button-container {
        gap: 20px;
    }
}

@media only screen and (min-width: 600px) {

    .logIn-Section {
        margin: 11px 30px 0 30px;
        gap: 65px;
    }

    .header-desktop {
        display: flex;
        justify-content: space-between;
    }

    .logo-container-mobile {
        display: none;
    }

    .newUser-container-mobile {
        display: none;
    }

}

@keyframes nameToRight {
    from {
        transform: translateX(-192px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes imgToLeft {
    from {
        transform: translateX(74px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}