<div class="intro hidden">
  <div class="flex-collum-center logo-intro-container">
    <div class="title nuito20px"><h1>DABubble</h1></div>
    <img src="./../../../assets/img/Logo.png" alt="" />
  </div>
</div>

<section class="flex-collum-center logIn-Section">
  <div class="logo-container">
    <img src="./../../../assets/img/Logo.png" alt="" />
    <div class="nuito20px"><h1>DABubble</h1></div>
  </div>

  <section class="input-section">
    <div class="flex-collum-center input-title">
      <h2 class="nuito32px700">Anmeldung</h2>
      <p class="nuito17px400">
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </p>
    </div>
    <form class="input-container">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="beispielname@email.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </section>
</section>
