@use "./../../../styles.scss" as *;

@media only screen and (min-width: 370px) {
    .logIn-Section {
        margin: 92px 30px 0 30px;
        gap: 30px;
    }

    .input-section {
        margin: 30px 13px 30px 13px;
    }

    .login-google-container {
        button {
            gap: 20px;
            padding: 15px 6px 15px 6px;
        }
    }

    .button-container {
        gap: 20px;
    }
}

@media only screen and (min-width: 472px) {
    .login-google-container {
        button {
            padding: 6px 66px 6px 66px;
        }
    }
}

@media only screen and (min-width: 600px) {

    .header-desktop {
        display: flex;
        justify-content: space-between;
    }

    .logIn-Section {
        margin: 92px 30px 0 30px;
    }

    .logo-container,
    .logo-container-mobile {
        display: none;
    }

    .newUser-container-mobile {
        display: none;
    }

    .logo-intro-container {
        height: 184px;

        img {
            height: 184px;
            width: 186px;
        }
    }

    .title {
        h1 {
            height: 100px;
            transform: translateX(-400px);
            font-size: 72px;
        }
    }

    @keyframes moveToCornerIntroLogo {
        from {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
        }

        to {
            top: 20px;
            left: -70px;
            transform: translate(0, 0) scale(0.5);
        }
    }
}


.logo-container-mobile,
.logo-container-desktop {
    animation: moveToCornerLogo 0.5s 2.7s linear forwards;
    opacity: 0;

    &.skip-animation {
        animation: none;
        opacity: 1;


    }
}

@keyframes nameToRight {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes imgToLeft {
    from {
        transform: translateX(74px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}