<app-logo></app-logo>

<main class="legal-notice">
    <section class="content-wrapper">
        <button class="back-button" aria-label="Zurück">
            <img src="./../../assets/img/back.png" alt="Zurück">
        </button>

        <section>
            <h1 class="headline">Impressum</h1>
            <p>
                <a href="https://bastianklawes.de/" target="_blank" rel="noopener noreferrer">Bastian Klawes</a><br>
                <a href="https://www.niklas-lampe.de/" target="_blank" rel="noopener noreferrer">Niklas Lampe</a><br>
                <a href="https://erik-michel.com/" target="_blank" rel="noopener noreferrer">Erik Michel</a><br>
                Radeland 55d<br>
                24558 Henstedt-Ulzburg<br>
            </p>
        </section>

        <section>
            <h2 class="headline">Kontakt:</h2>
            <p>
                E-Mail: <a href="mailto:erik-michel@outlook.com">erik-michel&#64;outlook.com</a>
            </p>
        </section>
    </section>
</main>