@use "./../../../styles.scss" as *;

.legal-notice {
    display: flex;
    flex-direction: column;
    max-width: 676px;
    margin: 10% auto;
    background-color: #FFFFFF;
    border-radius: 30px;

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 32px;
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    a {
        font-size: 24px;
        line-height: normal;
    }

    p {
        font-size: 24px;
        font-weight: 400;
        margin-block: 16px;
    }
}

.arrow-container {
    height: 40px;
    width: 40px;
}

.arrow-img {
    img {
        height: 40px;
        width: 40px;
    }

    &:hover {
        .default-arrows {
            display: none;
        }

        .hover-arrows {
            display: block;
            cursor: pointer;
        }
    }
}

.headline {
    margin: 0;
    font-weight: 700;
    color: $purple1;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 32px;
}

.imprent-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.default-arrows {
    display: block;
}

.hover-arrows {
    display: none;
}

@media (max-width: 700px) {
    .legal-notice {
        max-width: 600px;
    }
}

@media (max-width: 630px) {

    .legal-notice {
        margin-inline: 5%;
        max-height: 80vh;

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 28px;
        }

        a {
            word-break: break-word;
        }

        p {
            font-size: 24px;
        }
    }
}

@media (max-width: 400px) {
    .arrow-container {
        height: 40px;
        width: 40px;
    }

    .arrow-img {
        img {
            height: 40px;
            width: 40px;
        }

        .legal-notice {
            max-width: 90%;

            ul {
                padding-left: 20px;
            }
        }

        .content-wrapper {
            padding: 20px;
        }
    }
}

@media (max-width: 350px) {
    .legal-notice {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 28px;
        }

        h3 {
            font-size: 26px;
        }

        p {
            font-size: 22px;
        }
    }
}