@media screen and (min-width: 800px) {
    .menu-dialog {
        &.from-main-menu {
            align-items: center;
            gap: 15px;
            padding: 30px;
        }

        &.from-add-channel {
            padding: 30px;
        }

        .handle {
            display: none;
        }

        .btn {
            justify-content: center;

            mat-icon {
                display: none;
            }
        }
    }
}