.reaction-picker-panel {
  position: absolute;
  z-index: 999;
  width: 204px;
  height: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border: 1px solid #adb0d9;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
  max-height: 100px;
  transform: translateY(-200px);
  left: 60px !important;
  scrollbar-width: none;
}

.reaction-picker-panel::-webkit-scrollbar {
  display: none;
}

.reaction-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.emoji-list button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 5px;
  border-radius: 50%;
  padding: 6px;
  &:hover {
    background-color: lightgray;
  }
}
